{{ define "New" }}
{{ template "Header" }}
{{ template "Menu" }}
<h2>New Name and City</h2>
<form method="POST" action="insert">
 <label> Name </label><input type="text" name="name" /><br />
 <label> City </label><input type="text" name="city" /><br />
 <input type="submit" value="Save user" />
</form>
{{ template "Footer" }}
{{ end }}